.list-proposals-container{
    display: flex;
    flex-flow: row wrap;

}
.list-proposals{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    min-width: 0;
    padding: 1em;
    border: 1px var(--red) solid;
    margin:  0.5em 0.1em;
}
