.list-voters-container{
    display: flex;
    flex-flow: row wrap;

}
.list-voters{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    min-width: 0;
    max-width: 20%;
    padding: 1em;
    border: 1px var(--red) solid;
    margin:  0.5em 0.1em;
    cursor: pointer;
}
.list-voters:hover{
    background-color: var(--primary-color);
}